---
---

<section>
	<q class="text-center text-6xl max-w-6xl">
		<span class="font-bold intense-gradient">Intense Robotics</span> has developed a cutting-edge 
		human-like hand with all the agility, mobility and versatility of the real thing.<br />
	</q>
	<cite class="text-3xl">Elizabeth Holmes</cite>

</section>

<style>
	section {
		@apply flex flex-col items-center justify-center p-5 gap-5;
		background-image: url("/public/testimonial-bg.webp");
		@apply bg-no-repeat bg-right-top bg-cover min-h-[900px];

	}
</style>