---
import Button from "../Button.astro"
---

<section class="text-center">
<h1 class="p-5 text-8xl font-bold">Welcome to <br/>
	<span class="text-gradient">Intense Robotics</span></h1>
	<p class="text-4xl mb-5">
		Introducing the future of <strong>robotic hands</strong>.
	</p>
	<Button>
		<strong class="text-4xl">Learn more</strong>
	</Button>
</section>

<style>
	.text-gradient {
		background-image: linear-gradient(
			45deg,
			blue,
			blue 5%,
			white 60%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>