---
import Button from "../Button.astro"
---

<section class="text-center">
<h1 class="p-5 text-8xl font-bold">Welcome to <br/>
	<span class="intense-gradient">Intense Robotics</span></h1>
	<p class="text-4xl mb-5">
		Introducing the future of <strong>robotic hands</strong>.
	</p>
	<Button class="text-4xl">
		Learn more
	</Button>
</section>