---
import Button from "../components/Button.astro"
import Link from "../components/Link.astro"
---

<footer class="flex *:flex-1 flex-col lg:flex-row m-10 mx-3">
	<div class="flex flex-col gap-2 mx-10">
		<img class="w-16 " src="/public/intense-logo.svg" />
		<p>Intense Robotics develops technology that democratizes 
		access to advanced robotics, opening up new possibilities 
		in education, research, and real-world applications across 
		various industries, from security to healthcare.</p>
	</div>

	<nav>
		<ul>
			<li>Product</li>
			<li><Link href="/">TH-1</Link></li>
		</ul>
		<ul>
			<li>Applications</li>
			<li><Link href="/">Research</Link></li>
			<li><Link href="/">Education</Link></li>
			<li><Link href="/">Security</Link></li>
			<li><Link href="/">Hospitality</Link></li>
			<li><Link href="/">Agriculture</Link></li>
		</ul>
		
		<ul>
			<li>About</li>
			<li><Button>Contact</Button></li>
		</ul>
	</nav>
</footer>

<style>
	nav {
			@apply flex;
		ul {
			@apply flex-1;
			li:first-child {
				@apply mb-2 font-bold;
			}
		}
	}
</style>