---
import Button from "../components/Button.astro"
---

<footer class="flex *:flex-1 flex-col lg:flex-row">
	<div class="bg-orange-400">
		Logo on left
		some content under logo
	</div>

	<div class="bg-blue-400 text-xl">
		<ul>
			<li><strong>Technology & Markets</strong></li>
			<br/>
			<li>Robotics & Machine Learning</li>
			<li>Research & Education</li>
			<li>Human Enablement</li>
			<li>Security & Hospitality</li>
			<li>Food & Agriculture</li>
		</ul>
		<ul>
			<li><strong>Product</strong></li>
			<li>The Hand TH-1</li>
		</ul>
		<ul>
			<li><strong>About</strong></li>
			<br/>
			<Button>Contact</Button>
		</ul>
	</div>
</footer>