---
import Button from "./Button.astro"
import Link from "./Link.astro"
---
<header class="p-3 fixed w-full bg-intense-dark opacity-90 flex justify-between items-center">
	<a href="/" class="flex items-center gap-5">	
		<img class="w-16 " src="/public/intense-logo.svg" />
		<strong class="text-4xl intense-gradient">Intense Robotics</strong>
	</a>
		
	<nav class="flex gap-5 items-center">
		<ul class="flex gap-5">
			<li><Link scale href="/">Product</Link></li>
			<li><Link scale href="/">Applications</Link></li>
			<li><Link scale href="/">About</Link></li>
		</ul>
		<Button class="text-2xl">Contact</Button>
	</nav>
</header>
<div class="h-20"/>