---
import Button from "./Button.astro"
import Link from "./Link.astro"
---

<header class="border-b p-2 flex justify-between items-center">
	<a href="/" class="text-4xl text-blue-500">Intense Robotics</a>
	
	<nav class="flex gap-5 items-center">
		<ul class="flex gap-5">
			<li><Link href="/">Technology & Markets</Link></li>
			<li><Link href="/">Product & Applications</Link></li>
			<li><Link href="/">About</Link></li>
		</ul>
		<Button><strong class="text-2xl">Contact</strong></Button>
	</nav>
	
	

</header>
