---
import Button from "./Button.astro"
import Link from "./Link.astro"
---

<header class="border-b p-2 flex justify-between items-center">
	<a href="/">Intense Robotics</a>
	
	<nav class="flex gap-5 items-center">
		<ul class="flex gap-5">
			<li><Link href="/">link1</Link></li>
			<li><Link href="/">link2</Link></li>
			<li><Link href="/">link3</Link></li>
			<li><Link href="/">link4</Link></li>
		</ul>
		<Button>Click Me!</Button>
	</nav>
	
	

</header>
